/* les couleurs de la palette */

/* Couleurs dominates du fond */
@bleu-sombre1:  rgba(1, 2, 21, 1.0);
@bleu-sombre2: lighten(@bleu-sombre1, 5%);
@bleu-sombre3: lighten(@bleu-sombre2, 5%);

/* Couleurs principales du texte */
@dore1: rgba(251, 249, 160, 1.0);
@dore2: saturate(lighten(@dore1, 10%), 10%);
@ombre-dore: darken(spin(@dore1, 180), 30%);
@anti-dore-transparent: fade(@ombre-dore, 25%);

/* couleurs pour les titres en lien, au survol */
@cuir: lighten(spin(@dore1, -20), 10%);
@ombre-cuir: darken(spin(@cuir, 180), 5%);

@rouge-sombre1: #d01;
@rouge-sombre2: lighten(@rouge-sombre1, 10%);

/* autres couleurs */
@blanc-grise: #eee;
@blanc-grise1: #ddd;
@blanc-grise2: #aaa;
@gris-sombre1: #666;


@import "base.less.inc";
