* { margin: 0; padding: 0; }

/* *** General Styles *** */

body  {
	background: url(../img/background.jpg);
	color: #293331;
	font: 13px Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

a {
	color: #293331;
}

a:hover {
    text-shadow: 0 0 1ex rgba(0,0,200,0.5), 0 0 0.2ex rgba(0,0,255,0.7);
}

#header a,
#topMenu a,
.blogItem h2 a,
.blogMeta a {
	text-decoration: none;
}


p {
	line-height: 1.5em;
	padding: 5px 0;
}

h1,
h2,
h3 { 
	font-weight: normal;
}

.blogItem h3.dates {
    color: grey;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
}

blockquote {
	background: url(../img/body.gif) top left repeat-y;
	font-size: 14px;
	font-style: italic;
	padding: 5px 0 5px 30px;
}

ul,
ol {
	margin-left: 1rem;
	line-height: 1.6em;
}

/* *** Layout *** */

#container { 
	background: url(../img/spill.gif) no-repeat top right;
	margin: 0 auto;
	text-align: left;
	width: 780px;
} 

#header { 
    background: url(../img/header.gif) no-repeat;
    height: 109px;
    padding: 0 10px 0 20px;
}

.pages ul {
  list-style-type: none;
  margin: 0px;
}

.pages ul li {
  display: inline-block;
  margin: 3px 10px 3px 0px;
}

#topMenu {
	background: url(../img/menubar.gif) no-repeat;
	height: 48px;
}

#sidebar {
	float: right;
	padding: 20px 30px 10px 20px;
	text-align: right;
	width: 200px; 
}

.aside h3 {
    font-size: 1rem;
}

.aside ul {
    font-size: 0.7rem;
    list-style-type: none;
}
.hp-header, .hp-header-inner {
    height: 0px;
    margin-bottom: -5px;
}

.hp-header h1, .hp-header-inner h1 {
    position: relative;
    top: -130px;
    left: 25%;
}

p.blurb {
    display: none;
}

#mainContent {
	background: url(../img/body.gif) repeat-y;
	padding: 20px 0px 10px 30px;
} 

#footer { 
	background: url(../img/bottom.gif) no-repeat;
	font-size: 12px;
	height: 70px;
	padding: 0 10px 0 20px;
	text-align: center;
}

#footer .column {
    padding-top: 15px;
}

#footer .column ul {
    list-style-type: none;
    margin: 0px;
}

#footer .column ul li {
  display: inline-block;
  margin: 3px 10px 3px 0px;
}


#autres {
    display: none;
    position: absolute;
    top: 80px;
    right: 30px;
}

/* style for tags */

#tag_list li {
    display: inline-block;
    margin-left: 10px;
}

/* *** Header Styles *** */

#header h1 {
	font-size: 48px;
	font-weight: normal;
	padding: 20px 0 0 170px;
}

#header h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: right;
}

#header a:hover {
	background: url(../img/hr.gif) center bottom no-repeat;
}

/* *** Top Menu Styles *** */

#topMenu ul {
	font-size: 24px;
	line-height: 1em;
	list-style: none;
	padding: 14px 30px 0 30px;
	text-align: left;
}

#topMenu li {
	display: inline-block;
}

#topMenu li select{
    position: relative;
    top: -5px;
}



#topMenu a:hover {
	background: url(../img/hr.gif) center bottom no-repeat;
}

/* *** Blog Styles *** */

.blogItem {
    padding-bottom: 20px;
    padding-right: 30px;
}

.otherBlogItem {
    display: inline-block;
    width: 340px;
    height: 350px;
    overflow: auto;
    margin: 1ex;
    border: 1px solid rgba(0,0,0,.05);
    padding: 0.5ex;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
}

.blogItem img {
    float: left;
    padding: 0 3ex 0 0;
}

.blogItem img.nofloat {
    float: none;
    padding: 0 3ex 0 0;
}

.otherBlogItem img {
    width: 120px !important;
}

.blogItem h2,
.blogItem h3 {
    font-weight: bold;
}

.blogItem h3.blogMeta {
    font-weight: normal;

}

.blogItem h2 a:hover,
.blogItem h3 a:hover {
	background: none;
	text-decoration: underline;
}

.blogItem h2 {
    background: url(../img/hr.gif) bottom left no-repeat;
    font-size: 24px;
    padding-bottom: 6px;
}

.blogItem h3 {
    background: url(../img/hr.gif) bottom left no-repeat;
    font-size: 14px;
    padding-bottom: 6px;
}

.blogItem h3.blogMeta {
	background-position: top left;
	padding: 6px 0 0 0;
	text-align: right;
}

.firstBlogItem h3.blogMeta {
    padding: 6px 220px 0 0;
}

/* *** Sidebar Styles *** */

#sidebar h3 {
	font-size: 24px;
	font-weight: normal;
}

#sidebar ul {
	line-height: 1.8em;
	list-style: none;
	padding-bottom: 20px;
}

#sidebar ul a {
	text-decoration: none;
}

/* *** Comments Styles *** */

#comments {
	margin: 20px 0 0 20px;
}

#comments li {
	margin-bottom: 10px;
}

.commentSep {
	background: url(../img/hr.gif) bottom left no-repeat;
}

/* *** Footer Styles *** */

#footer p {
	padding: 10px;
	vertical-align: middle;
	display: inline-block;
}

.floatR {
	float: right;
	margin-left: 8px;
}

.floatL { 
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
}

ol.loweralpha{
     list-style-type: lower-alpha;
}

a {
    border-bottom: rgba(0,0,255,0.15) 2px dotted;
    border-right: rgba(0,0,255,0.15) 2px dotted;
    box-shadow: 10px 10px 8px rgba(0,0,255,0.15);
}
