/**
 * un style CSS pour les réservations
 **/

#topMenu ul {
	padding: 0;
        margin: 0;
	list-style: none;
	position: relative;
	}	
#topMenu ul li {
	display:inline-block;
	}
#topMenu a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

#topMenu ul li.smaller a {
    font-size: 16px;
    line-height: 25px;
}

#topMenu a:hover { 
	background-color: #333; 
}
#topMenu ul ul {
	display: none;
	position: relative; 
	top: 70px;
	left: -50px;
}	
#topMenu ul li:hover > ul {
    display:inherit;
    z-index:10;
}	
#topMenu ul ul li {
    /*width:230px;*/
    float:none;
    background: #333;
    border: 1px solid white;
    display:list-item;
    position: relative;
    right: 0px;
    top: -60px;
}

#topMenu li > a:after { content:  ' ▼'; }
#topMenu li > a:only-child:after { content: ''; }

table.reboutages {
    border-collapse: collapse;
    margin: 40px auto;
}

table.reboutages th, table.reboutages td{
    background: rgba(255,255,255,0.3);
    border: 1px solid white;
    padding: 20px;
    width: 8rem;
}

table.reboutages ul{
    list-style-type: none;
}
table.reboutages li{
    margin: 5px 0;
}

table.reboutages li textarea.commentaire{
    display: none;
}

tr.centrage td{
    text-align: center;
}

li.mine{
    border: 3px red dotted;
}


