{% load mystatic %}
<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.rebouteuse.eu/theme/css/foundation.min.css" media="all">
    <script src="https://www.rebouteuse.eu/theme/js/jquery.js"></script>
    <script src="https://www.rebouteuse.eu/theme/js/modernizr.js"></script>
    <script src="https://www.rebouteuse.eu/theme/js/program.js"></script>
    <script src="https://www.rebouteuse.eu/theme/js/vintage.js"></script>
    <link id="leTheme" rel="stylesheet" href="https://www.rebouteuse.eu/theme/css/highcontrast.css" media="all">
    <link id="resaTheme" rel="stylesheet" href="{% static 'resa/css/resa.css' %}"/>
    {% block title %}<title>REBOUTELIB</title>  {% endblock %}      
  </head>
  <body>
    <div id="container">
      {% block header %}
      <!-- begin block header -->
      <div id="header">
      </div>
      <div class="pages">
	<div id="topMenu">
	  <ul>
	    <li class="home"><a href="https://www.rebouteuse.eu/index.html">Accueil</a></li>
	    <li class="otherFastLink"><a href="https://www.rebouteuse.eu/archives.html">Archives</a></li>
	    <li class="otherFastLink">
	      <a href="https://www.rebouteuse.eu/reboutelib/resa/">Réservations</a>
	    </li>
	    <li><select id="themeSelect" onchange="select_theme()"></select></li>
	    {% block user %}
	    <li class="otherFastLink right smaller">
	      {% if user.is_anonymous %}
	      <a href="/{{rootdir}}resa/login.html" class="button">Connexion</a>
	      {% else %}
	      {% if user.first_name or user.last_name %}
	      <a>{{user.first_name}} {{user.last_name}}</a>
	      {% else %}
	      <a>{{user.username}}</a>
	      {% endif %}
	      <ul>
		<li><a href="/{{rootdir}}resa/logout.html">Déconnexion</a></li>
	      </ul>
	      {% endif %}
	    </li>
	    {% endblock %}
	  </ul>
	</div>
      </div>
      <script>
	/* ici l'élément select est défini, on peut le peupler */
	selectLoaded();
      </script>
      <!-- end block header -->
      {% endblock %}
      {% block page_header %}
      <!-- begin block page_header -->
      <div class="hp-header">
        <div class="page-header">
          <div class="content-header">
	    {% block title_block %}
	    <!-- begin block title_block -->
            <div id="title-block">
              <h1><a href="/{{rootdir}}resa">REBOUTELIB</a></h1>
              <p class="blurb"></p>
            </div>
	    <!-- end block title_block -->
	    {% endblock %}
          </div>
        </div>
      </div>
      <!-- end block page_header -->
      {% endblock %}
      <div id="mainContent" class="content">
	{% block main_content %}
	<!-- begin block main_content -->
	<p>
	  BASE POUR LE CONTENU PRINCIPAL.
	</p>
	<!-- end block main_content -->
	{% endblock %}
      </div>
      <div id="footer" class="footer">
        <div class="data-holder">
          <div class="row">
            <div class="large-3 column">
	      <div class="credits">
		<p>
		  Ce site est propulsé par <a href="https://www.djangoproject.com/">Django</a>, 
		  qui utilise <a href="http://python.org">Python</a>.
		</p>
	    </div>            </div>
            <div class="large-6 tag-cloud column">
	      {% block foot_center %}
	      <!-- begin block foot_center -->
	      <p>
		BASE POUR LE CENTRE DU PIED DE PAGE.
	      </p>
	      <!-- end block foot_center -->
	      {% endblock %}
            </div>
	    <div class="large-3 column">
	      <ul>
		<li>
		  <a href="https://validator.w3.org/check?uri=referer" target="validator">
		    <img src ="https://www.rebouteuse.eu/valid-xhtml10.png"
			 alt="Valid XHTML 1.0 Strict"
			 style="border: 0; height: 31px; width: 88px" />
		  </a>
		</li>
		<!-- ON NE SAIT PAS VALIDER DIRECTEMENT DE CSS3 !
		     <li>
		       <a href="https://jigsaw.w3.org/css-validator/validator?profile=css3" target="validator">
			 <img style="border:0;width:88px;height:31px"
			      src="/vcss.png"
			      alt="Valid CSS!" />
		       </a>
		     </li>
		     -->
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
