{% extends 'base.html' %}

{% block title_block %}
<!-- begin block title_block -->
<div id="title-block">
  <h1><a href="https://www.rebouteuse.eu/reboutelib/">Accueil de REBOUTELIB</a></h1>
</div>
<!-- end block title_block -->
{% endblock %}

{% block main_content %}
<!-- begin block main_content -->
<p>REBOUTELIB est le service de réservation de Rebouteuse</p>
<h1>Fonctionnement de REBOUTELIB</h1>
<p>
  Pour bénéficier d'un ordinateur reconditionné par Rebouteuse, autrement
  dit, d'un ordinateur « Rebouté », il faut prendre rendez-vous.
</p>
<p>
  Les rebouteuses et les rebouteurs sont en mesure de créer des plages dans
  le planning de REBOUTELIB, donc en consultant ce planning, il est possible
  de se positionner.
</p>
<h2>Les plages du planning</h2>
<p>
  Chaque plage précise un lieu, une date, une heure ;
</p>
<ul>
  <li>
    le nombre d'ordinateurs « reboutables » disponibles est inscrit :
    c'est le nombre de participants qui peuvent s'inscrire, et
    repartir avec un ordinateur « Rebouté », sans apporter
    d'ordinateur ;
  </li>
  <li>
    Dans chaque plage, il y a aussi le nombre de « places libres » ;
    une « place libre », c'est pour une personne qui viendrait
    avec <i>son ordinateur</i>, pour le « Rebouter », afin de repartir
    avec le même ordinateur, qu'elle reboute elle-même, avec les conseils
    des organisatrices et organisateurs.
  </li>
</ul>
<h2>Aller au planning</h2>
Pour accéder au planning, il faut ...
{% if user.is_anonymous %}
<a class="button" href="/{{rootdir}}resa/login.html">S'authentifier</a>
{% else %}
<a class="button" href="/{{rootdir}}resa/login.html">Cliquer ici</a>
{% endif %}

<h2>Est-ce gratuit ?</h2>
<p>
  <span style="text-decoration: underline;">Réponse rapide :</span>
  <b>non, un ordinateur « Rebouté » n'est pas gratuit</b>.
</p>
<p>
  <span style="text-decoration: underline;">Réponse longue :</span>
</p>
<ul>
  <li>
    On peut remporter un ordinateur « Rebouté » <b>sans payer d'argent</b>,
    mais dans ce cas on paye de sa personne, il faut s'engager ...
    <ul>
      <li>
	soit à <b>devenir rebouteuse/rebouteur</b> (en apprenant comment faire),
	puis en aidant d'autres personnes en « Reboutant » des ordinateurs
	pour elles ...
      </li>
      <li>
	soit à <b>faire partie d'un réseau d'entraide</b>, pour expliquer aux
	personnes utilisant des ordinateurs « Reboutés » comment résoudre
	divers petits problème (par exemple, comment se connecter à Internet,
	comment gérer des textes, des images, quelles sont les applications
	les plus appropriées, les trucs et les astuces, etc.).
      </li>
    </ul>
  </li>
  <li>
    Dans le cas où on ne veut pas aider d'une façon ou d'une autre, alors
    on doit payer une somme forfaitaire à Rebouteuse. Actuellement, cette
    somme forfaitaire est 10 €.
  </li>
</ul>

<p>
  Quel que soit le choix (payer, ou aider), <b>un document sera
  établi</b> à votre nom : soit un engagement à participer, soit un
  reçu pour le paiement forfaitaire.
</p>
<!-- end block main_content -->
{% endblock %}

{% block foot_center %}
<!-- begin block foot_center -->
<p>
{% if user.is_anonymous %}
<a class="button" href="/{{rootdir}}resa/login.html">S'authentifier</a>
{% else %}
<a class="button" href="/{{rootdir}}resa/login.html">Accès au planning</a>
{% endif %}

</p>
<!-- end block foot_center -->
{% endblock %}
