{% extends 'base.html' %}

{% block title_block %}
<!-- begin block title_block -->
<div id="title-block">
  <h1><a href="/{{rootdir}}/resa/login.html">REBOUTELIB Authentification</a></h1>
</div>
<!-- end block title_block -->
{% endblock %}

{% block foot_center %}
{% endblock %}

{% block main_content %}
<!-- begin block main_content -->
<h1>Je suis déjà inscrite/inscrit :</h1>
<form method="post">
  <fieldset id="identification">
    <legend>Je m'identifie :</legend>
    {% csrf_token %}
    <table>
      <tr>
	<td>Login : </td><td><input name="username" type="text" placeholder="Mon pseudo" {% if login %}value="{{login}}"{% endif %}/></td>
	<td>Passe : </td><td><input name="password" type="password" {% if passwd %}value="{{passwd}}"{% endif %}/></td>
      </tr>
      <tr>
	<td colspan="4"><input type="submit" value="Valider"/></td>
      </tr>
    </table>
  </fieldset>
</form>

<script>
  function show_pi(){
      document.querySelector("#premiere_inscription").style.display="block";
      document.querySelector("#username1").focus();
      return;
  }
</script>
<h1><span onclick="show_pi()" style="cursor: pointer;">Je m'inscris pour la première fois ⯆</span></h1>
<div id="premiere_inscription" style="display: none;">
  <p>
    Pour le moment, la création de nouveaux comptes pour participer à
    Rebouteuse n'est possible que pour les élèves du
    <a href="https://www.lyceejeanbart.fr" target="_blank">lycée Jean Bart</a>
    de Dunkerque.
  </p>
  <form method="post">
    <fieldset id="identification1">
      <legend>Mon login, au lycée Jean Bart :</legend>
      {% csrf_token %}
      <table>
	<tr>
	  <td>Login : </td><td><input id="username1" name="username1" type="text" placeholder="prenom.nom"/></td>
	  <td>Passe : </td><td><input id="password1" name="password1" type="password"/></td>
	</tr>
	<tr>
	  <td colspan="4"><input type="submit" value="Valider"/></td>
	</tr>
      </table>
      <input type="hidden" id="inscription" name="inscription"
	     value="inscription"/>
    </fieldset>
  </form>
</div>


<script>
  var error = "{{error}}";
  if (error){
      alert(error);
  }
</script>
<!-- end block main_content -->
{% endblock %}
