{% extends 'base.html' %}
{% load mystatic %}

{% block title_block %}
<!-- begin block title_block -->
<div id="title-block">
  <h1><a href="https://www.rebouteuse.eu/reboutelib/">Planning REBOUTELIB</a></h1>
</div>
<!-- end block title_block -->
{% endblock %}

{% block foot_center %}
{% endblock %}

{% block main_content %}
<!-- begin block main_content -->
<script>
  function show_comment(el){
      var li = el.parentNode;
      var t = li.querySelector("textarea");
      t.style.display = "inherit";
      el.style.display = "none";
  }
  
  function delete_resa(id, csrf){
      var OK = window.confirm("Voulez-vous vraiment effacer cette séance ? Il y a {{ s.insciptions }} personnes inscrites.")
      if (! OK) return;
      $.post("/{{rootdir}}resa/delete_resa",{
	  id: id,
	  csrfmiddlewaretoken: csrf,
      }).done(
	  function(){
	      location.reload(true);
	  }
      ).fail (
	  function() {
	      alert("Impossible de supprimer la réunion");
	  }
      );
  }

  var current_reboutage_id, current_csrf, current_username, current_computer;
  
  function dialogue_inscription(id, csrf, username, computer){
      current_reboutage_id = id;
      current_csrf = csrf;
      current_username = username;
      current_computer = computer;
      var dialog = document.querySelector("div#commentaire_dialogue");
      dialog.style.display = "block";
      var text = document.querySelector("div#commentaire_dialogue textarea");
      text.focus();
}
  
  function inscription(){
      var dialog = document.querySelector("div#commentaire_dialogue");
      dialog.style.display = "none";
      var text = document.querySelector("div#commentaire_dialogue textarea");
      var data = {
	  id: current_reboutage_id,
	  csrfmiddlewaretoken: current_csrf,
	  username: current_username,
	  computer: current_computer,
	  commentaire:  text.value,
      };
      $.post("/{{rootdir}}resa/inscription", data).done(
	  function(data){
	      if (data.msg == "ok"){
		  location.reload(true);
	      } else {
		  alert(data.msg);
	      }
	  }
      ).fail (
	  function(data) {
	      alert("Impossible de contacter le serveur");
	  }
      );
  }

  function modif_inscription(id, csrf, username){
      $.post("/{{rootdir}}resa/del_inscription",{
	  id: id,
	  csrfmiddlewaretoken: csrf,
	  username: username,
      }).done(
	  function(){
	      location.reload(true);
	  }
      ).fail(
	  function(data) {
	      alert("Impossible de contacter le serveur");
	  }
      );
  }
  
</script>
<h1>Planning des séances de Reboutage</h1>
<p>
  Il y a deux façons de s'inscrire aux séances de reboutage quand il y en a :
</p>
<ul>
  <li>
    <b>En cliquant sur l'icône</b>
    <img src="{% static 'resa/img/computer.png' %}"
	 alt="Je demande un ordinateur"/>
    pour demander la mise à disposition d'un ordinateur Rebouté ;
  </li>
  <li>
    <b>En cliquant sur l'icône</b>
    <img src="{% static 'resa/img/no-computer.png' %}"
	 alt="Je viens et j'amène un ordinateur"/>
    pour venir, en amenant un ordinateur, afin de
    le Rebouter et de repartir avec en bon état de marche.
  </li>
</ul>
<p>
  Il est recommandé de marquer un commentaire, au moment où on s'inscrit,
  pour prévenir les organisateurs de la séance.
</p>
<p>
  Quand la colonne de gauche ne contient pas d'icônes à cliquer, ça
  correspond en général à ce qu'il y a déjà suffisamment de demandes, et
  qu'on ne peut pas en accepter plus. La colonne de droite montre
  les utilisateurs inscrits et les commentaires. On peut modifier
  <i>son</i> inscription soi-même.
</p>

{% if seances %}
<table class="reboutages">
  <tr><th>Date/heure<br/>+<br/>Inscriptions</th><th>Responsable</th><th>Machines données, à Rebouter</th><th>Nombre de visiteurs au maximum</th><th>Inscrits<br/>+<br/>(on peut se désinscrire soi-même)</th></tr>
  {% for s in seances %}
  <tr class="centrage">
    <td>
      <h3>{{s.rdv|date:'Y-m-d H:i'}}</h3>
      {% if s.responsable.username == user.username %}
      <!-- icône permettant à un responsable de supprimer une réunion -->
      <a onclick="delete_resa({{s.id}},'{{csrf_token}}')">
	<img src="{% static 'resa/img/edit-delete.png' %}"
	     alt="Supprimer la séance"
	     title="Supprimer la séance"
	     />
      </a>
      {% endif %}
      {% if the_class == "Lambda" %}
      <br/>
      <!-- icônes pour les utilisateurs lambda -->
      <div class="ordis">
	{% if s.ordinateurs_non_reserves > 0 and s.places_libres > 0 %}
	<!-- on peut réserver un ordinateur -->
	<a onclick="dialogue_inscription({{s.id}},'{{csrf_token}}','{{user.username}}', 'True')">
	  <img src="{% static 'resa/img/computer.png' %}"
	       alt="Je demande un ordinateur (cliquer pour s'inscrire)"
	       title="Je demande un ordinateur (cliquer pour s'inscrire)"
	       />
	</a>      
	{% endif %}
	{% if s.places_libres > 0 %}
	<!-- on peut venir avec son ordinateur -->
	<a onclick="dialogue_inscription({{s.id}},'{{csrf_token}}','{{user.username}}', 'False')">
	  <img src="{% static 'resa/img/no-computer.png' %}"
	       alt="Je viens et j'amène un ordinateur (cliquer pour s'inscrire)"
	       title="Je viens et j'amène un ordinateur (cliquer pour s'inscrire)"
	       />
	</a>
	{% endif %}
      </div>
      {% if s.places_libres > 0 %}
      <span style="font-size: 70%">
	(cliquez sur une icône ci-dessus pour s&apos;inscrire)
      </span>
      {% endif %}
      {% if s.places_libres == 0 %}
      <p>
	La séance est pleine.
      </p>
      {% else %}
      {% if s.ordinateurs_non_reserves == 0 %}
      <p>
	Tous les ordinateurs <i>donnés</i> sont réservés.
      </p>
      {% endif %}
      {% endif %}
      {% endif %}
   </td>
    <td>{{s.responsable.username}}</td>
    <td>{{s.machines}}</td>
    <td>{{s.max_inscrits}}</td>
    <td>
      {% if s.inscriptions %}
      <ul>
	{% for i in s.inscriptions %}
	<li {% if i.personne.username == user.username or rebouteuse %}class="mine"{% endif %}>
	  {{i.personne.first_name}} {{i.personne.last_name}}
	  {% if i.personne.username == user.username or rebouteuse %}
	  <!-- c'est cet utilisateur ou c'est une rebouteuse -->
	  <a onclick="modif_inscription({{s.id}},'{{csrf_token}}','{{i.personne.username}}')"
	     title="demande un ordinateur (cliquer pour supprimer)">
	    {% if i.demande_ordinateur %}
	    <img src="{% static 'resa/img/computer.png' %}"
		 alt="demande un ordinateur (cliquer pour supprimer)"/>
	    <img src="{% static 'resa/img/edit-delete.png' %}"
		 alt="demande un ordinateur (cliquer pour supprimer)"/>
	    {% else %}
	    <img src="{% static 'resa/img/no-computer.png' %}"
		 alt="apporte son ordinateur (cliquer pour supprimer)"/>
	    <img src="{% static 'resa/img/edit-delete.png' %}"
		 alt="demande un ordinateur (cliquer pour supprimer)"/>
	    {% endif %}
	  </a>
	  <textarea class="commentaire" readonly="readonly" rows="4" cols="25">Cliquer sur l&apos;icône pour modifier l&apos;inscription
---- Commentaire : ----
{{i.commentaire}}</textarea>
	  <span onclick="show_comment(this)"> ▼</span>
	  {% else %} <!-- ce n'est pas l'utilisateur courant ni une rebouteuse-->
	  <a>
	    {% if i.demande_ordinateur %}
	    <img src="{% static 'resa/img/computer.png' %}"
		 alt="demande un ordinateur"
		 title="demande un ordinateur"/>
	    {% else %}
	    <img src="{% static 'resa/img/no-computer.png' %}"
		 alt="apporte son ordinateur"
		 title="apporte son ordinateur"/>
	    {% endif %}
	  </a>
	  {% endif %} <!-- utilisateur courant ou rebouteuse -->
	</li>
	{% endfor %}
      </ul>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if the_class == "Rebouteuse" %}
<form method="post">
  <fieldset id="neo_reboutage">
  <legend>Créer une nouvelle séance</legend>
  {% csrf_token %}
  <table class="reboutages">
    {{ form_reboutage.as_table }}
    <tr><th colspan = "2"><input type="submit" value="Valider"/></th></tr>
  </table>
  
  </fieldset>
</form>
{% endif %}
<div id="commentaire_dialogue"
     style = "display: none; position: fixed; top: 10%; left: 10%; background: grey;">
    <fieldset>
      <legend>Commentaire pour l'inscription</legend> <!-- ' -->
      <textarea id="le_commentaire" rows=4 cols=25></textarea>
      <br/>
      <button onclick="inscription()" style="padding: 5px;">Valider</button>
    </fieldset>
</div>
<!-- end block main_content -->
{% endblock %}
