{% extends "base.html" %}
{% block content %}
<h1>Archives du site {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }} {% if article.modified > article.date %}
        (dernière modification : {{ article.locale_modified }}) {% endif %}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
