{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block pageheader %}
<div class="hp-header-inner">
    <div class="page-header">
        <div class="content-header">
            <div id="title-block">
            <h1>  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Lien permanent vers {{ article.title|striptags }}">{{ article.title }}</a></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content-article">
    <header class="header-article">
        <div class="read-more">Posté le {{ article.locale_date }} {% if article.modified > article.date %}
        (dernière modification : {{ article.locale_modified }}) {% endif %}</div>
 
   </header>
    <section class='article blogItem'>
        
        <div class="entry-content">
            {{ article.content }}
        </div>
	{% include "pied-article.html" %}
    </section>
    <footer class="footer-article">
        <div class="tags-and-categories">Rangé dans : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        | Tagué : {% if article.tags %}{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}

        | Lien permanent : <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Lien permanent vers {{ article.title|striptags }}">Cliquez ici</a>            
        </div>
        <!-- metaldata 
        {% for m in article.Metaldata %}
        Rock on! {{ m }}
        {% endfor %}
        -->
    </footer>
    <!-- disqus {{ DISQUS_SITENAME }} -->
    {% include 'article_discus.html' %}
</div>
{% endblock %}
