<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SITEURL}}/theme/css/foundation.min.css" media="all">
    <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
    <script src="{{ SITEURL }}/theme/js/program.js"></script>
    <script src="{{ SITEURL }}/theme/js/vintage.js"></script>
    <link id="leTheme" rel="stylesheet" href="{{ SITEURL }}/theme/css/highcontrast.css" media="all">
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}        
  </head>
  <body>
    <div id="container">
      <div id="header">
      </div>
      <div class="pages">
	<div id="topMenu">
	  <ul>
	    <li class="home"><a href="{{ SITEURL }}/index.html">Accueil</a></li>
	    <li class="otherFastLink"><a href="{{ SITEURL }}/archives.html">Archives</a></li>
	    <!--
	    <li class="otherFastLink"><a href="{{ SITEURL }}/reboutelib/resa/">Réservations</a></li>
	    -->
            {% for p in pages %}
            <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
	    <li><select id="themeSelect" onchange="select_theme()"></select></li>
	  </ul>
	</div>
      </div>
      <script>
	/* ici l'élément select est défini, on peut le peupler */
	selectLoaded();
      </script>
      {% block pageheader %}
      <div class="hp-header">
        <div class="page-header">
          <div class="content-header">
            <div id="title-block">
              <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
              <p class="blurb">{{ SITESUBTITLE }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      <div id="mainContent" class="content">
        <div class="data-holder">
          <div class="row">
            <div class="large-10 content-column column">
              {% block content %}
              {% endblock %}
            </div>
            <div class="large-2 aside column">
              <h3>Sites amis</h3>
              <ul>
                {% for anchor, title,link in LINKS %}
                <li><a href="{{ link }}" title="{{ title }}">{{ anchor }}</a></li>
                {% endfor %}
              </ul>
	      <h3>Catégories</h3>
              <ul>
		{% for cat, l in categories %}
		<li{% if cat==category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a> ({{ l | length }})</li>
		{% endfor %}
              </ul>	      
            </div>
          </div>
	</div>
      </div>
      <div id="footer" class="footer">
        <div class="data-holder">
          {% block footer %}
          <div class="row">
            <div class="large-3 column">
              {% include 'credits.html' %}
            </div>
            <div class="large-6 tag-cloud column">
              <h3>Tags</h3>
              <ul>
                {% for t,tx in tags %}
                <li{% if t==tag %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>({{ tx | length }})</li>
                {% endfor %}
              </ul>
            </div>
	    {% if W3C_VALIDATOR %}
	    <div class="large-3 column">
	      <ul>
		<li>
		  <a id="validator" href="https://validator.w3.org/check?uri=referer" target="validator">
		    <img src ="/valid-xhtml10.png"
			 alt="Valid XHTML 1.0 Strict"
			 style="border: 0; height: 31px; width: 88px" />
		  </a>
		</li>
		<!-- ON NE SAIT PAS VALIDER DIRECTEMENT DE CSS3 !
		<li>
		  <a href="https://jigsaw.w3.org/css-validator/validator?profile=css3" target="validator">
		    <img style="border:0;width:88px;height:31px"
			 src="/vcss.png"
			 alt="Valid CSS!" />
		  </a>
		</li>
		-->
	      </ul>
	      <script>
		/* fix a bug with url=referer which does not work */
		document.querySelector("#validator").href = "https://validator.w3.org/check?uri=" + encodeURIComponent(window.location);
	      </script>
	    </div>
	    {% endif %}
	    {% endblock %}
	  </div>
	  {% include 'trademark.html' %}
	</div>
      </div>
    </div>
  </body>
</html>
