{% extends "base.html" %}
{% block pageheader %}
<div class="hp-header">
  <div class="page-header">
    <div class="content-header">
      <div id="title-block">
        <h1>Articles de la catégorie {{ category }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

{% block content_title %}
{% endblock %}



<div data-cols="2">
  {% for article in articles_page.object_list %}
  <div class="sec-article blogItem">
    <div class="read-more">{{ article.locale_date }} {% if article.modified > article.date %}
      (dernière modification : {{ article.locale_modified }}) {% endif %}</div>

    <h3><a href="{{ SITEURL }}/{{ article.url }}" rel=Bookmark title="Lien permanent vers {{ article.title | striptags }}">{{ article.title }}</a></h3>
    {{ article.summary }}            
    {% include "pied-article.html" %}
  </div>

  {% endfor %}
</div>

{% endblock content %}
<!-- END CONTENT -->

