{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Catégories {% endblock %}



{% block content %}
    <h1>Les catégories, dans {{ SITENAME }}</h1>
    <ul class="tag-list">
    {%- for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
{% include 'credits.html' %}
{% endblock %} 
