{% extends "base.html" %}
{% block content %}

{% block content_title %}
{% endblock %}


{% for article in articles_page.object_list %}
{% if "archive" not in article.tags %}
<div
  {% if loop.index == 1 %} class="main-article blogItem"
  {% else %} class="sec-article blogItem"
  {% endif %}>
  <div class="read-more">
    {{ article.locale_date }}
    {% if article.modified > article.date %}
    (dernière modification : {{ article.locale_modified }})
    {% endif %}
  </div>
  <h2>
    <a href="{{ SITEURL }}/{{ article.url }}"
       rel="Bookmark"
       title="Lien permanent vers {{ article.title | striptags }}">
      {{ article.title }}
    </a>
  </h2>
  {% if loop.index == 1 %}
  {{ article.content }}            
  {% else %}
  {{ article.summary }}            
  <p>
    <a href="{{ SITEURL }}/{{ article.url }}">
      Lire la suite ...
    </a>
  </p>
  {% endif %}
  {% include "pied-article.html" %}
</div>
{% else %}
<!-- l'article {{ article.url }} est archivé -->
{% endif %}
{% endfor %}
	      
{% endblock content %}
<!-- END CONTENT -->
