<h3 class="blogMeta">
  Par <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>,
  Catégorie : <a href="{{ SITEURL }}/{{ article.category.url }}">
    {{ article.category }}
  </a>
</h3>
<h3 class="blogMeta">Tags :
  {% for tag in article.tags %}
  <span>
    {% if loop.index != 1 %} / {% endif %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
  </span>
  {% endfor %}
</h3>
