{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    <h1>Tags du site {{ SITENAME }}</h1>
    <ul class="tag-list">
    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
{% include 'credits.html' %}
{% endblock %} 
